.result-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    margin-top: 30px;
}

.result-container h2 {
    margin-bottom: 20px;
}

.result-container button {
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.result-container button:hover {
    background-color: darkred;
}

.result-container a {
    display: block;
    text-decoration: none;
    color: #646cff;
    font-size: 1rem;
    margin-top: 10px; 
    text-align: center; 
}

.result-container a:hover {
    color: #535bf2;
}


.result-page {
    text-align: center;
    padding: 20px;
}

.result-page h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.btn-reset {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 10px;
    width: 90px;
    height: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
    margin: 20px auto;
}

.btn-reset:hover {
    background-color: #646cff;
    color: black;
}

.go-calculator {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: #8b8ef6;
    text-decoration: none;
    font-weight: 500;
}

.go-calculator:hover {
    color: #535bf2;
}
